<template>
  <div class="question">
    <form @submit.prevent="onAnswerQuestion" class="mb-3">
      <h1 class="page-title">Question {{questionNumber}}</h1>
      <div class="background">
        <p v-html="question" class="question-text"></p>
      </div>
      <div width="100%" height="1px"/>
      <button type="submit" id="button1" class="quiz-button" disabled ="true"/>
      <button type="submit" id="button2" class="quiz-button" disabled ="true"/>
      <button type="submit" id="button3" class="quiz-button" disabled ="true"/>
      <button type="submit" id="button4" class="quiz-button" disabled ="true"/>
    </form>
  </div>
</template>
<script>
import { STORAGE_KEY_CONFIG } from "@/consts/storageKeys";
import { getQuestions } from "@/api/questionAPI";
export default {
  name: 'Question',
  async created() {
    // Loading in the settings and gettin the questions from the api.
    const config = JSON.parse(localStorage.getItem(STORAGE_KEY_CONFIG));
      try {
        this.questions = await getQuestions(config.questionAmount, config.categorySelect, config.questionDifficulty);
        this.updateQuestion();
      } catch (error) {
        this.error = error.message;
      }
  },
  mounted() {
    // Getting the buttons here so that they don't have to be fetched every time.
      //Also enables all the buttons, since everything is loaded.
    this.buttons= [
        document.getElementById("button1"),
        document.getElementById("button2"),
        document.getElementById("button3"),
        document.getElementById("button4")];
        
    this.buttons[0].disabled = false;
    this.buttons[1].disabled = false;
    this.buttons[2].disabled = false;
    this.buttons[3].disabled = false;
  },
  methods: {
    // Method that handles buttons clicked
    onAnswerQuestion(submit) {
      // First, it checks what button was clicked and saves the selected answer
      let buttonClicked = submit.submitter.id;
      buttonClicked = Number(buttonClicked[buttonClicked.length-1]-1);
      this.answers[this.questionNumber-1] = this.buttons[buttonClicked].innerHTML;
      this.checkAnswer(buttonClicked);
      this.questionNumber++;
      //Then, it checks if all the questions have been completed.
        //If they have, it routes to the results screen. If not, it updates the question.
      if (this.questionNumber === this.questions.length+1) {
        localStorage.setItem('quiz-results', JSON.stringify({
          points: this.points,
          questions: this.questions,
          answers: this.answers
      }))
        this.$router.push('/results');
      }
      else {
        this.updateQuestion();
      }
    },
    //Checks if the button clicked had the correct answer.
    checkAnswer(buttonClicked) {
      if (this.buttons[buttonClicked].innerHTML === this.questions[this.questionNumber-1].correct_answer) {
        this.points++;
      }
    },
    //Updates which buttons are enabled and disabled for True/False and Multiple choice questions.
    // Also sets onClicks for the correct button and for all the others.
    updateButtons(question) {
      const questionType = question.type
      // Setting up buttons for multiple choice questions.
      if (questionType === "multiple") {
        this.buttons[0].style.opacity = 100;
        this.buttons[3].style.opacity = 100;
        this.buttons[0].disabled = false;
        this.buttons[3].disabled = false;
        const correctButton = this.buttons[Math.floor(Math.random() * 3)];
        correctButton.innerHTML = question.correct_answer;
        let i = 0;
        for (const button of this.buttons) {
          if (button !== correctButton) {
            button.innerHTML = question.incorrect_answers[i];
            i++;
          }
        }
      }
      else {
        // Disabling two buttons for True/False questions and setting up right/wrong answers.
        this.buttons[0].style.opacity = 0;
        this.buttons[3].style.opacity = 0;
        this.buttons[0].disabled = true;
        this.buttons[3].disabled = true;
        this.buttons[1].innerHTML = "True";
        this.buttons[2].innerHTML = "False";
      }
    },
    updateQuestion() {
      // Updates what question is shown and calls the function to update the buttons.
      this.question = this.questions[this.questionNumber-1].question;
      this.updateButtons(this.questions[this.questionNumber-1]);      
    },
  },
  data() {
    return {
      error: "",
      question: "",
      questionNumber: 1,
      questions: [],
      points: 0,
      buttons: [],
      answers: [],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.question-text {
  font-size: 200%;
  margin: 1%;
}
#button1 {
  margin: 3%;
  font-size: 150%;
  font-family: "Life-savers";
  float: left;
  margin-left: 15%;
}
#button2 {
  margin: 3%;
  font-size: 150%;
  font-family: "Life-savers";
  float: left;
}
#button3 {
  margin: 3%;
  font-size: 150%;
  font-family: "Life-savers";
  float: left;
}
#button4 {
  margin: 3%;
  font-size: 150%;
  font-family: "Life-savers";
  float: left;
}
</style>
