<template>
  <div class="results">
    <h1 class="page-title">Results</h1>
    <div class="background" id="results-background">
      <div class="results-text">You scored: {{points*10}} / {{questionAmount*10}} points!</div>
    </div>
    <form @submit.prevent="onRetry" class="mb-3">
      <button type="submit" id="retryButton" class="quiz-button">RETRY <br> (same settings)</button>
    </form>
    <form @submit.prevent="onRestart" class="mb-3">
      <button type="submit" id="restartButton" class="quiz-button">RESTART</button>
    </form>
    <div id="question-display"/>
  </div>
</template>

<script>
import { STORAGE_KEY_QUIZ } from "@/consts/storageKeys";
export default {
  name: 'Results',
  async created() {
    //Loads the results from the quiz
    const results = JSON.parse(localStorage.getItem(STORAGE_KEY_QUIZ));
    this.points = results.points;
    this.questions = results.questions;
    this.answers = results.answers;
    this.questionAmount = this.questions.length;
  },
  mounted() {
    //Adds all the questions and answers to the views.
    const questionDisplay = document.getElementById("question-display");
    for (let i = 0; i < this.questions.length; i++) {
      const question = this.questions[i];
      const newQuestion = document.createElement("div");
      newQuestion.innerHTML = question.question+"<br><br>Your answer: "+ this.answers[i] +"<br><br>Correct answer: "+question.correct_answer;
      newQuestion.className="question-background";
      questionDisplay.appendChild(newQuestion);
    }
  },
  methods: {
    onRestart() {
      // Routs back to the settings/Start page.
      this.$router.push('/start');
    },
    onRetry() {
      // Routs back to the questions page to keep the same locally stored settings.
      this.$router.push('/questions');
    },
  },
  data() {
    return {
      questionAmount: 0,
      questions: [],
      answers: [],
      points: 0,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#question-display {
  display: grid;
  gap: 2%;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(3,1fr);
  padding-top: 3%;
}
#results-background {
  padding: 1%;
}
.results-text {
  font-size: 250%;
  font-family: "Life-savers-bold";
}
#restartButton {
  font-size: 200%;
  float: left;
  margin-left: 4%;
}
#retryButton {
  font-size: 180%;
  float: left;
  margin-left: 34%;
}
</style>
