<template>
  <div class="start">
    <form @submit.prevent="onClickStartButton " class="mb-3">
      <fieldset class="mb-3">
        <h1 class="page-title">Welcome to the Quiz!</h1>
            <div class="background">
              <select class="quiz-selection" id="quiz-type-selector" v-model="selectedCategory">
                <option value="">Any Category</option>
                <option
                    v-for="category of categories" 
                    :value="category.index"
                    :key="category.name">
                    {{ category.name }}
                </option>
              </select>
              <div class="divider"></div>
              <select class="quiz-selection" id="quiz-difficulty-selector" v-model="selectedDifficulty">
              <option value="">Any Difficulty</option>
                <option
                    v-for="difficulty of difficulties" 
                    :value="difficulty"
                    :key="difficulty">
                    {{ difficulty }}
                </option>
              </select>
              <div class="divider"></div>
              <div class="quiz-selection" id="selection-text">How many questions?</div>
              <input type="text" class="quiz-selection-input" v-model="questionAmount"/>
            </div>
        </fieldset>
        <button type="submit" class="quiz-button">START</button>
    </form>
    <section class="alert alert-danger" v-if="error">
      <p>{{ error }}</p>
    </section>
  </div>
</template>

<script>
export default {
  name: 'StartPage',
  methods: {
    onClickStartButton() {
      this.error = "";

      // Checks if amount of questions has been specified
      if (!this.questionAmount) {
        this.error = "You forgot to choose a number of questions";
        return;
      }
      // Saves the quiz settings
      localStorage.setItem('quiz-config', JSON.stringify({
          questionAmount: this.questionAmount,
          questionDifficulty: this.selectedDifficulty,
          categorySelect: this.selectedCategory
      }))
      // Routs to the questions
      this.$router.push('/questions');
    },
  },
  data() {
    return {
      error: "",
      questionAmount: "",
      selectedCategory: "",
      selectedDifficulty: "",
      difficulties: [
        "easy",
        "medium",
        "hard",
      ],
      categories: [
        {
          name: "General Knowledge",
          index: 9,
        },
        {
          name: "Entertainment: Books",
          index: 10,
        },
        {
          name: 
        "Entertainment: Film",
          index: 11,
        },
        {
          name:"Entertainment: Music",
          index: 12,
        },
        {
          name: "Entertainment: Musicals & Theatres",
          index: 13,
        },
        {
          name: "Entertainment: Television",
          index: 14,
        },
        {
          name: "Entertainment: Video Games",
          index: 15,
        },
        {
          name: "Entertainment: Board Games",
          index: 16,
        },
        {
          name: "Science & Nature",
          index: 17,
        },
        {
          name: "Science: Computers",
          index: 18,
        },
        {
          name: "Science: Mathematics",
          index: 19,
        },
        {
          name: "Mythology",
          index: 20,
        },
        {
          name: "Sports",
          index: 21,
        },
        {
          name: "Geography",
          index: 22,
        },
        {
          name: "History",
          index: 23,
        },
        {
          name: "Politics",
          index: 24,
        },
        {
          name: "Art",
          index: 25,
        },
        {
          name: "Celebrities",
          index: 26,
        },
        {
          name: "Animals",
          index: 27,
        },
        {
          name: "Vehicles",
          index: 28,
        },
        {
          name: "Entertainment: Comics",
          index: 29,
        },
        {
          name: "Science: Gadgets",
          index: 30,
        },
        {
          name: "Entertainment: Japanese Anime & Manga",
          index: 31,
        },
        {
          name: "Entertainment: Cartoon & Animations",
          index: 32,
        },
      ],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.divider {
    background: #214E34;
    height: 2px;
}
.quiz-selection {
    background-color: transparent;
    border-color: transparent;
    font-size: 300%;
    text-align: center;
    font-family: "Life-savers-bold";
}
.quiz-selection option {
    font-size: 50%;
    font-family: "Life-savers";
    background: #62E4D3;
}
#selection-text {
    float:left;
    padding-left: 20%;
}
.quiz-selection-input {
    background-color: transparent;
    border-color: #214E34BF;
    border-top: 0px;
    border-left: 0px;
    font-size: 250%;
    font-family: "Life-savers-bold";
    width: 10%;
    text-align: center;
    margin-top: 1%;
}
</style>
