<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>


<style>
/* Adding some google fonts to the project.*/
@font-face {
  font-family: "Life-savers";
  src: local("Life-savers"),   url(./assets/font/LifeSavers-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Life-savers-bold";
  src: local("Life-savers"), url(./assets/font/LifeSavers-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Life-savers-title";
  src: local("Life-savers"), url(./assets/font/LifeSavers-ExtraBold.ttf) format("truetype");
}
.question-background {
  height: fit-content;
  width: 90%;
  height: 100%;
  border-width: 2px;
  background-color: #9CCAD3;
  border-radius: 10px;
  border-color: #214E34;
  border-style: solid;
  font-family: "Life-savers-bold";
}
.background {
    height: fit-content;
    width: fit-content;
    border-width: 2px;
    background: #62E4D3;
    border-radius: 10px;
    border-color: #214E34;
    border-style: solid;
    margin: auto;
}
.page-title {
    font-size: 400%;
    font-family: "Life-savers-title";
}
.quiz-button {
    margin: auto;
    margin-top: 5%;
    height: 25vh;
    width: 25vh;
    border-radius: 100%;
    background: #62E4D3;
    border-color: #214E34;
    font-size: 280%;
    font-family: "Life-savers-bold";
    grid-row-start: 1;
}
.mb-3 {
  border-width: 0px;
}
#app {
  position: absolute;
  top:0%;
  left:0%;
  right:0%;
  font-family: "Life-savers";
  text-align: center;
  color: #32292F;
  margin: 0px;
  background-color: #F0F7F4;
  background-size: cover, contain;
}
</style>
